<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itd_gene.activities"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk android:minSdkVersion="10" 
    		android:targetSdkVersion="15" >
    </uses-sdk>
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application android:icon="@drawable/icon" android:label="@string/app_name" >
        
        <activity android:name="itd_gene.activities.DisplayMessageActivity" />
        <activity android:name="itd_gene.activities.DownloadFiles" />
        <activity android:name="itd_gene.activities.HelpActivity" />
        
        <activity
            android:name="itd_gene.activities.DotPlotActivity" > 
            <intent-filter>
      			<action android:name="android.intent.action.SEND" />
      			<category android:name="android.intent.category.DEFAULT" />
      			<data android:mimeType="text/plain" />
    		</intent-filter>
            </activity>
        
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
    </application>
	
</manifest>